body {
  margin: 0;
  font-family: Helvetica;
  background-color: black;
  color: white;
}
  
h1 {
  text-align: center;
  color: white;
}

h3 {
  color: whitesmoke;
}

#car-header {
  display: flex;
  justify-content: center;
  background-color: black;
}
  
img {
  height: 10rem;
}
  
#car-collection {
  margin: 2rem;
}
  
.card {
  text-align: center;
  border: black solid 1px;
  padding: 1rem;
  width: 17rem;
  height: 25rem;
  margin: 1rem 2rem;
}

.car-avatar {
  justify-self: center;
  height: 10rem;
  width: auto;
}

button {
  position: relative;
  background-color: white;
  border: black solid 1px;
  border-radius: 5px;
  height: 3rem;
  width: max-content;
  color: black;
  font-size: 18px;
  justify-self: center;
}

div {
  display: inline-block;
  padding: 25px;
  justify-content: space-evenly;
}

.container {
  padding: 1rem;
  width: stretch;
  height: auto;
  display: none;
}

.add-car-form {
    width: 60%
}

.submit {
  position: relative;
  background-color: black;
  border-radius: 5px;
  height: 2rem;
  width: max-content;
  color: white;
  font-size: 18px;
  justify-self: center;
  font-family: Helvetica;
  margin: 3px;
  border: white solid 1px;
}

.submit:hover {
  background-color: white;
  border: black solid 1px;
  color: black;
}
  
  
.input-text {
  height: 2rem;
  width: 60%;
  font-size: 18px;
  font-family: Helvetica;
  margin: 3px;
}